.hero__testimonial{
    width: 60%;
}

.hero__testimonial--summary{
    font-size: 26px;
}

.logo{
    width: 25%;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe{
    width: 90%;
    height: 80vh;
}

@media (max-width: 424px){

    .logo{
        width: 50%;
    }

    .hero__testimonial{
        width: 95%;
    }

    .hero__testimonial--summary{
        font-size: 20px;
    }

    .hero__testimonial--full{
        display: none;
    }

}